body{
    margin: 0%;
    box-sizing: border-box;
}

.container{
    width: 80%;
    background-color: aqua;
    margin: 0 auto;
}

header{
    background-color: grey;
    display: flex;
}

ul{
    list-style: none;
}
